<% provide(:title, 'About') %>

<h2>Rails Social Network</h2>

<p>RSN is a social network application similar to 
<%= link_to "Facebook", url: "https://facebook.com/", class: "btn btn-link" %> 
(being) created with the 
<%= link_to "Ruby on Rails", url: "https://rubyonrails.org/", class: "btn btn-link" %> web framework.</p>