<div class="row">
  <div class="col-md-6">
    <h4>Active Friends</h4>
    <% @active_friends.each do |af| %>
      <%= render 'shared/friend', user: af %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h4>Passive Friends</h4>
    <% @passive_friends.each do |pf| %>
      <%= render 'shared/friend', user: pf %>
    <% end %>
  </div>
</div>