<a href="<%= notif.link %>" class="list-group-item <% if !notif.checked? %>active<% end %>" style="width:320px;">
  <%= notif.body %>
  <span class="badge">
    <span class="glyphicon glyphicon-star-empty"></span>
  </span>
</a>