@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

/* variables */
$gray-lightest: #aaa;
$gray-light: #777;
$gray-dark: #555;
$gray-darker: #222;

/* content */

#content {
  margin-top: 80px;
}

/* navbar */

header {
  margin-bottom: 60px;
}

#logo {
  float: left;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}

#logo:hover {
  text-decoration: underline;
}

ul.navigation {
  float: right;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.navigation li.nav_item {
  display: inline-block;
  padding: 0 10px;
}

/* search */

.search {
  display: inline-block;
  float: left;
}

/* footer */

footer {
  margin-top: 60px;
  padding: 10px;
  border-top: 1px solid $gray-lightest;
  a {
    color: $gray-dark;
    &:hover {
      color: $gray-darker;
    }
  }
}

footer #logo_bottom {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}

footer nav {
  display: inline-block;
  float: right;
}

footer nav ul li {
  padding: 5px;
}

/* form controls */

input:not(.search-input) {
  margin: 10px;
}

input[type=submit] {
  margin: 10px 0;
}

textarea {
  resize: vertical;
  min-height: 70px;
  max-height: 200px;
}

/* home page */

#home-banner {
  text-align: center;
}

/* errors */

#error_explanation {
  ul {
    li {
      color: red;
    }
  }
}

/* user info */

.user_info {
  margin: 5px;
  img {
    display: inline-block;
    border-radius: 4px;
    margin: 5px 0;
    margin-right: 15px;
    width: 80px;
    height: 80px;
  }
  .details {
    display: inline-block;
    p {
      margin: 0;
    }
  }
}

/* links */

.links {
  float: right;
}

/* post */
.post_head {
  img {
    display: inline-block;
    border-radius: 4px;
    margin: 0;
  }
  .details {
    display: inline-block;
    p {
      margin: 0;
    }
  }
}

.post_body {
  padding: 10px;
}

/* comment */

.comment {
  .commenter {
    display: block;
    padding-right: 5px;
    margin-bottom: 10px;
    img {
      border-radius: 4px;
    }
  }
  p {
    word-break: break-all;
  }
}

/* float-right */
.float-right {
  float: right;
}

/* Friend */
.friend {
  margin: 5px 0;
}