@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

/* variables */
$gray-lightest: #aaa;
$gray-light: #777;
$gray-dark: #555;
$gray-darker: #222;

/* navbar */

header {
  padding: 15px 0;
}

#logo {
  float: left;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

#logo:hover {
  text-decoration: underline;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

/* footer */

footer {
  margin-top: 60px;
  padding: 10px;
  border-top: 1px solid $gray-lightest;
  a {
    color: $gray-dark;
    &:hover {
      color: $gray-darker;
    }
  }
}

footer #logo_bottom {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}

footer nav {
  display: inline-block;
  float: right;
}

footer nav ul li {
  padding: 5px;
}