<footer class="footer">
  <%= link_to "RSN", root_url, id: 'logo_bottom' %>
  <nav>
    <ul class="navigation">
      <li class="nav_item"><%= link_to 'About', about_path %></li>
      <li class="nav_item"><%= link_to 'Contact', contact_path %></li>
      <li class="nav_item"><%= link_to 'Help', help_path %></li>
    </ul>
  </nav>
</footer>